footer {
  display: flex;
  padding: 40px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  background: var(--background-components);
  color: var(--text-secondary);
  font-size: 20px;
}

.footer-nav {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  align-self: stretch;
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    a:hover {
      text-decoration: underline;
    }
  }
  .second {
    display: flex;
    align-items: center;
    gap: 12px;
    svg {
      transition: 0.5s;
    }
    a:hover {
      svg {
        transform: scale(120%);
      }
    }
  }
}

.footer-copyrights {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--text-secondary);
  font-size: 16px;
}

@media (min-width: 768px) {
  .footer-nav {
    .main {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 16px;
    }
  }
}
