.header-logo-burger-menu {
  padding: 20px 12px;
  align-items: center;
}

.header-logo {
  font-size: 40px;
  font-family: var(--font-caesar-dressing);
  color: var(--text-secondary);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  align-self: stretch;
  background: var(--background-components);
  font-size: 20px;
  color: var(--text-secondary);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  .header-logo-burger-menu {
    display: flex;
    justify-content: space-between;
  }
}

.header-nav {
  display: none;
  flex-direction: column;
  padding: 20px 12px;
  align-items: flex-start;
  background: var(--background-components);
  gap: 32px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.header-nav.is-active {
  display: flex;
  pointer-events: auto;
  border-top: 1px solid var(--text-secondary);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 20px 0 0;
}

.header-nav-mode {
  display: flex;
  padding: 8px 12px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  background: var(--text-main);
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    padding: 20px 80px;
    position: unset;
  }
  .header-burger-menu {
    display: none;
  }
  .header-nav {
    gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
