.header-logo {
  font-size: 40px;
  font-family: var(--font-caesar-dressing);
  text-transform: uppercase;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--background-components);
}
.header-nav {
  display: none;
  flex-direction: column;
  padding: 20px 12px;
  align-items: flex-start;
  gap: 10px;
  background: var(--background-components);

  gap: 32px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.header-nav.is-active {
  display: flex;
  pointer-events: auto;
  border-top: 1px solid var(--text-secondary);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-nav-mode {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.header-mobile-bar {
  display: block;
}

@media (min-width: 768px) {
  .header-mobile-bar {
    display: none;
  }

  .header-nav {
    gap: 32px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
