* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

html {
  --font-caesar-dressing: "Caesar Dressing", sans-serif;
  --font-bubbler-one: "Bubbler One", sans-serif;
}

html[data-theme="dark"] {
  --yellow: #f7f43e;
  --blue: #a3d7ff;
  --red: #f8a7a7;
  --green: #76e5b5;
  --background: #515050;
  --background-components: #696a6c;
  --text-main: #f7f6f6;
  --text-secondary: #ffffff;

  #dark-mode-btn {
    border-radius: 4px;
    border: 1px solid var(--text-secondary);
    background: var(--text-main);
    display: none;
  }
}
html[data-theme="light"] {
  --yellow: #f8af27;
  --blue: #279ef8;
  --red: #f82727;
  --green: #12965d;
  --background: #ffffff;
  --background-components: #bcbfc3;
  --text-main: #515050;
  --text-secondary: #000000;

  #light-mode-btn {
    border-radius: 4px;
    border: 1px solid var(--text-secondary);
    background: var(--text-main);
    display: none;
  }
}

body {
  font-family: var(--font-bubbler-one);
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
